{% extends "mobile/base.html" %}

{% block content %}
        <h1 id="title">Welcome!</h1>

        <div id="newuser_wrapper">
            <form method="POST" action="{% url CreateUser %}">
                <label for="name">Enter Your Full Name:</label>
                <input type="text" name="name" id="name" />
                <input type="submit" />
            </form>
        
        </div>
{% endblock content %}

{% block javascript %}
		<script>
            // No JS
        </script>
{% endblock javascript %}
