{% extends "mobile/base.html" %}

{% block content %}
        <h1 id="title">Who Are You?</h1>

        <div id="unregistered_wrapper">
            {% for u in unregistered_users %}
                <div class="unregistered_user">
                    <a href="{% url RegisterUser u.uuid %}">
                        <img class="profile_pic" src="{{ u.img }}" />
                        <p class="profile_name">{{ u.name }}</p>    
                    </a>
                </div>
            {% endfor %}
            <div class="unregistered_user">
                <a id="newUser" href="{% url ShowNewUser %}">Not Here?</a>
            </div>
        </div>
{% endblock content %}

{% block javascript %}
		<script>
            // No JS
        </script>
{% endblock javascript %}
