{% extends "mobile/base.html" %}

{% block content %}
        <h1 id="title">Who Are You?</h1>

        <div id="unregistered_wrapper">
            {% for u in unregistered_users %}
                <a class="unregistered_user" href="{% url RegisterUser u.uuid %}">
                    <img class="profile_pic" src="{{ u.img }}" />
                    <p class="profile_name">{{ u.name }}</p>    
                </a>
            {% endfor %}
        </div>
        <div>
            <a href="{% url ShowNewUser %}">Not here?</a>
        </div>
{% endblock content %}

{% block javascript %}
		<script>
            // No JS
        </script>
{% endblock javascript %}
