/** Common Styles for both Desktop & Mobile Apps **/

/** Main Stuff **/
body {
    padding: 0px;
    margin: 0px;
	background-color: white;
    width: 100%;
    font-family: Helvetica;
    text-align: center;
}

.title {
    width: 100%;
    font-weight: bold;
    text-shadow: grey 3px 2px 10px;
}

.error {
    color: red;
}

.small {
    font-size: 0.8em;
    margin: 0px;
    margin-bottom: 5px;
}


/** Buttons **/
button {
    padding: 12px 29px;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    display: inline-block;
    padding: 4px 10px 4px;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #FAFAFA;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
    background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
    background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
    background-image: linear-gradient(white, white 25%, #E6E6E6);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.limeBtn {
     text-shadow: 0px -1px 0px #6c9a15;
     color: #ffffff;
     background-color: #8AB833;
     background-image: -moz-linear-gradient(top, #a8d651, #6c9a15);
     background-image: -ms-linear-gradient(top, #a8d651, #6c9a15);
     background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a8d651), to(#6c9a15));
     background-image: -webkit-linear-gradient(top, #a8d651, #6c9a15);
     background-image: -o-linear-gradient(top, #a8d651, #6c9a15);
     background-image: linear-gradient(top, #a8d651, #6c9a15);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8d651', endColorstr='#6c9a15', GradientType=0);
     border-color: #8AB833 #6c9a15 #6c9a15 #8AB833;
     border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
    .limeBtn:hover, .limeBtn:active {
         background-color: #6c9a15;
    }
    .limeBtn:hover {
         color: #fffffb;
         text-shadow: 0px -1px 0px #4e7c00;
    }
    .limeBtn:focus {
         color: white;
         -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         border-color: #8AB833 #6c9a15 #6c9a15 #8AB833;
         border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    }
    .limeBtn:active {
         background-image: none;
         -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         color: white;
    }

.darkBlueBtn2 {
    text-shadow: 0px -1px 0px #000018;
    color: #ffffff;
    background-color: #001936;
    background-image: -moz-linear-gradient(top, #1e3754, #000018);
    background-image: -ms-linear-gradient(top, #1e3754, #000018);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e3754), to(#000018));
    background-image: -webkit-linear-gradient(top, #1e3754, #000018);
    background-image: -o-linear-gradient(top, #1e3754, #000018);
    background-image: linear-gradient(top, #1e3754, #000018);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e3754', endColorstr='#000018', GradientType=0);
    border-color: #001936 #000018 #000018 #001936;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
    .darkBlueBtn2:hover, .darkBlueBtn2:active {
        background-color: #000018;
    }
    .darkBlueBtn2:hover {
        color: #c8e1fe;
        text-shadow: 0px -1px 0px #000000;
    }
    .darkBlueBtn2:focus {
        color: white;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        border-color: #001936 #000018 #000018 #001936;
        border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    }
    .darkBlueBtn2:active {
        background-image: none;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        color: white;
    }

.darkBlueBtn {
    text-shadow: 0px -1px 0px #004F6F;
    color: white;
    background-color: #006D8D;
    background-image: -moz-linear-gradient(top, #1E8BAB, #004F6F);
    background-image: -ms-linear-gradient(top, #1E8BAB, #004F6F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1E8BAB), to(#004F6F));
    background-image: -webkit-linear-gradient(top, #1E8BAB, #004F6F);
    background-image: -o-linear-gradient(top, #1E8BAB, #004F6F);
    background-image: linear-gradient(top, #1E8BAB, #004F6F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e8bab', endColorstr='#004f6f', GradientType=0);
    border-color: #006D8D #004F6F #004F6F #006D8D;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
    .darkBlueBtn:hover, .darkBlueBtn:active {
        background-color: #004f6f; 
    }
    .darkBlueBtn:focus { 
        color: white; 
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
        border-color: #006D8D #004f6f #004f6f #006D8D; 
        border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); 
    }
    .darkBlueBtn:active { 
        background-image: none; 
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
        color: white; 
    }

.lightBlueBtn {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

    text-shadow: 0px -1px 0px #168BE1;
    color: white;
    background-color: #34A9FF;
    border-color: #34A9FF #168BE1 #168BE1 #34A9FF;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    
    /*
    background-image: -moz-linear-gradient(top, #52C7FF, #168BE1);
    background-image: -ms-linear-gradient(top, #52C7FF, #168BE1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52C7FF), to(#168BE1));
    background-image: -webkit-linear-gradient(top, #52C7FF, #168BE1);
    background-image: -o-linear-gradient(top, #52C7FF, #168BE1);
    background-image: linear-gradient(top, #52C7FF, #168BE1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52c7ff', endColorstr='#168be1', GradientType=0);
    */
}
    .lightBlueBtn:hover, .lightBlueBtn:active {
         cursor: default;
         background-color: #168be1;
    }
    .lightBlueBtn:hover {
         color: #fcffff;
         text-shadow: 0px -1px 0px #006dc3;
    }
    .lightBlueBtn:focus {
         color: white;
         -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         border-color: #34A9FF #168be1 #168be1 #34A9FF;
         border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    }
    .lightBlueBtn:active {
        /*
         background-image: none;
         -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         color: white;
         */
    }


/** List Styles **/
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
}
	ul li {
        background-image: none;
        background-repeat: no-repeat;
        background-position: 0px 5px; 
        padding-left: 14px; 
        position: relative;
        background: #e6f3f9;
        font-size: 1.2em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 2px;
	}
	ul li:nth-child(odd) {
        background: #e4f3c6;
	}
