/** CSS for the Desktop portion of the app **/

/** Whole Page Stuff **/
html {
	background-color: white;
    background-image: url(/static/imgs/bg7_thin.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: left; 
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
    float: left;
}

/** Right-Hand Stuff **/
    #rightSide {
        width: 39%;
        height: 100%;
        float: left;
    }
    #qrContainer {
        width: 70%;
        height: 70%;
        margin-top: 15%;
        margin-bottom: 15%;
        margin-left: auto;
        margin-right: auto;
    }
    #navButtons {
        margin: 0px;
        padding: 0px;
        text-align: left;
        position:fixed;
        bottom: 10px;
        right: 10px;
        float: right;
    }
    .list {
        height: 395px;
        padding: 0px;
    }
    .list li {
        width: 96%;
        height: 55px;
        float: left;
        padding: 10px;
        margin: 3px;
        border-radius: 5px;
    }
    .list img {
        height: 55px;
        float: left;
    }
    .list p {
        float: left;
        font-size: 1.5em;
        padding-left: 10px;
    }

/** Left-Hand Side Stuff **/
    .leftSide {
        width: 59%;
        height: 100%;
        float: left;
        padding: 10px;
    }
    .title {
        font-size: 6.0em;
        margin: 10px 0px 20px 0px;
        padding: 0px;
    }
    
/** Main View **/
    #mainView_barContainer {
        width: 90%;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        float: none;

        border: 2px solid #004e70;
        border-radius: 5px;

        font-size: 3.0em;
        line-height: 2.0em;
        height: 96px;
    }

    #mainView_yes {
        background-color: #0089c5;
        color: white;

        width: 100%;
        text-align: center;
        border-radius: 2px;
    }

    #mainView_msgContainer {
        width: 100%;
        float: none;
    }


/** Stats Views **/
.statsView_wrapper {
    margin-top: -50px;
}

.statsView_wrapper img {
    width: 50%;
    border: 1px solid #0414a5;
    border-radius: 5px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    margin-bottom: 30px;
}

.statsView_wrapper p {
    font-family: arial;
    font-size: 2.0em;
}

.statsView_wrapper hr {
    width: 80%;
}

/** New Meal View **/
#mealView p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#newMealText {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;
    border: 1px solid #006D8D;

    font-size: 2.0em;
    font-family: Helvetica;
}
