/** CSS for the Desktop portion of the app **/

/** Whole Page Stuff **/
html {
	background-color: white;
    background-image: url(/static/imgs/bg7_thin.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: left; 
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
    float: left;
}

h2 {
    font-size: 3.0em;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 30px;
    text-shadow: #004e70 3px 2px 10px;
}

/** Right-Hand Stuff **/
    #rightSide {
        width: 39%;
        height: 100%;
        float: left;
    }
    #qrContainer {
        width: 70%;
        height: 70%;
        margin-top: 15%;
        margin-bottom: 15%;
        margin-left: auto;
        margin-right: auto;
    }
    #navButtons {
        margin: 0px;
        padding: 0px;
        text-align: left;
        position:fixed;
        bottom: 10px;
        right: 10px;
        float: right;
    }
    .list {
        height: 395px;
        padding: 0px;
    }
    .list li {
        width: 96%;
        height: 55px;
        float: left;
        padding: 10px;
        margin: 3px;
        border-radius: 5px;
    }
    .list img {
        height: 55px;
        float: left;
    }
    .list p {
        float: left;
        font-size: 1.5em;
        padding-left: 10px;
    }

/** Left-Hand Side Stuff **/
    .leftSide {
        width: 59%;
        height: 100%;
        float: left;
        padding: 10px;
    }
    .title {
        font-size: 6.0em;
        margin: 10px 0px 20px 0px;
        padding: 0px;
    }
    
/** Main View **/


    #mainView_menu {
        font-size: 2.0em;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 5px;

        background-color: #BCE072;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }

    #mainView_barContainer {
        width: 90%;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        float: none;

        border: 2px solid #004e70;
        border-radius: 5px;

        font-size: 3.0em;
        line-height: 2.0em;
        height: 96px;
    }

    #mainView_yes {
        background-color: #0089c5;
        color: white;

        width: 100%;
        text-align: center;
        border-radius: 2px;
    }

/** Stats Views **/

 
/** Feed View **/    
    #feedView_feedContainer {
        width: 100%;
        float: none;
    }

/** New Meal View **/
    #newMealView p {
        width: 79%;
        margin-left: auto;
        margin-right: auto;
    }
    #newMealView textarea {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        border-radius: 5px;
        border: 1px solid #006D8D;

        font-size: 2.0em;
        font-family: Helvetica;

        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }
