/** Styles for the Mobile App **/

/** Whole Page Stuff **/
html {
    width: 100%;

	background-color: #c1e2f1;
    background-image: url(/static/imgs/bg1_mobile.jpg);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: top left; 
    padding-bottom: 110px; /**footer**/
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: transparent;
    
    font-family: Helvetica;
    text-align: center;
}

/* height is now larger than width  */

/* slider root element */
.slider {
    background:#3C72E6 url(/media/img/gradient/h30.png) repeat-x 0 0;
    height:9px;
    position:relative;
    cursor:pointer;
    border:1px solid #333;
    width:675px;
    float:left;
    clear:right;
    margin-top:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:#fff url(/media/img/gradient/h30.png) repeat-x 0 0;
    height:28px;
    width:28px;
    top:-12px;
    position:absolute;
    display:block;
    margin-top:1px;
    border:1px solid #000;
    cursor:move;
    -moz-box-shadow:0 0 6px #000;
    -webkit-box-shadow:0 0 6px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;

}

/* the input field */
.range {
    border:1px inset #ddd;
    float:left;
    font-size:20px;
    margin:0 0 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.slider {
		height:300px;
		width:9px;
		margin:0 0 0 60px;
	}

	/* tweak drag handle position */
	.handle {
		top:0;
		left:-10px;
	}

	/* position progressbar on the bottom edge */
	.progress {
		width:9px;
		position:absolute;
		bottom:0;
	}

.title {
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-size: 4.0em;
    line-height: 2.0em;
}

button {
    text-align: right;
}

p {
    margin: 30px;
    padding: 0px;
    font-size: 2.0em;
}
label {
    font-size: 2.0em;
}
input[type="text"] {
    font-size: 2.0em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;

    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}
input[type="range"] {
width: 80%;
height: 20px;
font-size: 3.0em;
}

#btmPanel {
    background-color: #001936;
    background-image: -moz-linear-gradient(top, #1e3754, #000018);
    background-image: -ms-linear-gradient(top, #1e3754, #000018);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e3754), to(#000018));
    background-image: -webkit-linear-gradient(top, #1e3754, #000018);
    background-image: -o-linear-gradient(top, #1e3754, #000018);
    background-image: linear-gradient(top, #1e3754, #000018);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e3754', endColorstr='#000018', GradientType=0);
    border-color: #001936 #000018 #000018 #001936;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);

    padding-top: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 102px;
}
.panelBtn {
    margin: 0px;
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 0px;
    font-size: 1.5em;

    width: 50%;
    text-align: center;
}
/** Onboard View **/
#onboardView {
    height: 100%;
    width: 100%;
}

#vote_wrapper, #newUser_wrapper, #onboard_wrapper {
    text-align: center;
    margin-top: -60px;
    font-size: 2.5em;
    line-height: 1.5em;
}

.unregistered_user {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 1px 10px black;
    -moz-box-shadow: inset 0px 1px 10px black;
    box-shadow: inset 0px 1px 10px black;
}

.unregistered_user a {
    text-decoration: none;
}

.profile_pic {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 75%;
    border-radius: 20px;
}

.profile_name {
    color: #031BA3;
    padding: 0px;
}

#newUser_wrapper form {
    padding: 10px;
}

#newUser_wrapper input[type="text"] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#newUser_wrapper #name {
    width: 60%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#voteView_title {
    font-size: 3.0em;
}
#voteView_slider {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em; 
    margin-top: 50px;
    margin-bottom: 20px;
}

#voteView_amount {
    font-size: 2.5em;
    color: red;
    padding: 0px;
    margin: 0px;
}

#thanksView_closeBtn {
    width: 80%;
}

#new_user_div {
    line-height: 2.5em;
}
