@font-face {
 font-family: duchat;
 src: url("/static/files/DuChat.eot") /* EOT file for IE */
}
@font-face {
 font-family: duchat;
 src: url("/static/files/DuChat.ttf") /* TTF file for CSS3 browsers */
}

html {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

body {
    color: #031BA3;
	background-color: white;
    background-image: url(/static/imgs/background6_light2.jpg);
    background-repeat: repeat;
    background-position: center; 
    
    width: 100%;
    
    font-family: arial;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

	background-color: white;

    padding: 10px;
}

.title {
    width: 100%;
    margin: 0px;
    padding: 35px 0px;

    font-size: 4.0em;
    font-family: duchat;
    line-height: 1.5em;
}

#unregisteredUserView {
    height: 100%;
    width: 100%;
}

#vote_wrapper, #newUser_wrapper, #unregisteredUser_wrapper {
    text-align: center;
    margin-top: -60px;
    font-size: 2.5em;
    line-height: 1.5em;
}

.unregistered_user {
    background-color: white;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 1px 10px black;
    -moz-box-shadow: inset 0px 1px 10px black;
    box-shadow: inset 0px 1px 10px black;
}

.unregistered_user a {
    text-decoration: none;
}

.profile_pic {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 75%;
    border-radius: 20px;
}

.profile_name {
    color: #031BA3;
    padding: 0px;
}

#newUser_wrapper form {
    padding: 10px;
}

#newUser_wrapper input[type="text"] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#newUser_wrapper #name {
    width: 60%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#voteView_title {
    font-size: 3.0em;
}
#voteView_slider {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em; 
    margin-top: 50px;
    margin-bottom: 20px;
}

#voteView_amount {
    font-size: 2.5em;
    font-family: duchat;
    color: red;
    padding: 0px;
    margin: 0px;
    margin-bottom: -50px;
}

button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: inherit;
    font-family: arial;
    margin-top: 40px;

    background-color: #32a0ed;
    color: #031BA3;
    border: 1px solid #031BA3;
    border-radius: 20px;

    cursor: pointer;
}

#thanksView_closeBtn {
    width: 80%;
}

#new_user_div {
    line-height: 2.5em;
}
