<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik</title>
        
        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/mobile_styles.css">
		<link rel="stylesheet" href="/static/css/jquery-ui-1.8.18.custom.css">

        <script>
            //This prototype is provided by the Mozilla foundation and
            //is distributed under the MIT license.
            //http://www.ibiblio.org/pub/Linux/LICENSES/mit.license
            if (!Array.prototype.forEach)
            {
              Array.prototype.forEach = function(fun /*, thisp*/)
              {
                var len = this.length;
                if (typeof fun != "function")
                  throw new TypeError();

                var thisp = arguments[1];
                for (var i = 0; i < len; i++)
                {
                  if (i in this)
                    fun.call(thisp, this[i], i, this);
                }
              };
            }
        </script>
    </head>

    <body>
        <div class="wrapper">
            {% block content %}
            {% endblock content %}
        </div>

		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>

		<script src="http://v2.clikthis.com/js/latest/clik-mobile.min.js"></script>

        {% block javascript %} {% endblock javascript %}

    </body>
</html>
