<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik</title>
        
        <!-- CSS -->
		<link rel="stylesheet" href="static/css/mobile_styles.css">
    </head>

    <body>
        <div class="wrapper">
            {% block content %}
            {% endblock content %}
        </div>

		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://v2.clikthis.com/js/latest/clik-mobile.min.js"></script>

        {% block javascript %} {% endblock javascript %}

    </body>
</html>
