<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik</title>
        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/mobile_styles.css">
		<link rel="stylesheet" href="/static/css/jquery-ui-1.8.18.custom.css">
    </head>

    <body>
        <div id="wrapper">

            <!-- Unregistered User View -->
            <div id="unregisteredUserView" style="display: none">
                <h1 class="title">Who Are You?</h1>

                <div id="unregisteredUser_wrapper">
                </div>
            </div>

            <!-- New User View -->
            <div id="newUserView" style="display: none">
                <h1 class="title">Welcome!</h1>

                <div id="newUser_wrapper">
                    <form>
                        <label for="newUser_name">Enter Your Full Name:</label>
                        <input type="text" name="newUser_name" id="newUser_name" />
                    </form>
                    <input type="submit" id="newUser_submit" />
                
                </div>
            </div>

            <!-- Vote View -->
            <div id="voteView" style="display: none">
                <h1 class="title" id="voteView_title">Bon Appetit</h1>

                <h1>How much do you enjoy this meal?</h1>
                
                <input type="text" id="voteView_amount" style="border:0; color:#f6931f; font-weight:bold;" />

                <div id="voteView_slider" style="max-width: 400px"> </div>
                    
                <input type="submit" id="voteView_submit" />
            </div>

            <!-- Thanks View -->
            <div id="thanksView" style="display: none">
                <h1 class="title" id="thanksView_title">Merci</h1>
            </div>
        </div>

        <!-- JS -->
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
        <script src="http://v2.clikthis.com/js/latest/clik-mobile.min.js"></script>

        <script>
            var MaitreMobile = new function() {
                // User obj for current user. 
                this.user = new function () {
                    this.uuid  = "{{user.uuid}}";
                    this.name  = "{{user.name}}";
                    this.fname = "{{user_first_name}}";
                    this.img   = "{{user.img}}";
                };
                // Views for the Mobile App
                this.unregisteredUserView = $("#unregisteredUserView");
                this.newUserView          = $("#newUserView");
                this.voteView             = $("#voteView");
                this.thanksView           = $("#thanksView");

                this.init = function( ) {
                    // Add name and uuid to Client Obj
                    //Client.prototype.name = "";
                    //Client.prototype.uuid = "";

                    // Use server logic to determine which view to display.
                    {% if ShowUnregisteredUserView %}
                        this.showUnregisteredUserView();
                    {% endif %}
                    {% if ShowVoteView %}
                        this.showVoteView();
                    {% endif %}
                };
                
                this.run = function( ) {
                    // When Clik is ready to serve events..
                    clik.ready(function () {
                        return;
                    });
                };

                // View Functions ----------------------------------------------
                this.showUnregisteredUserView = function( ) {
                    var wrapper = $("#unregisteredUser_wrapper");
                    wrapper.html('');

                    // Build html for unregistered users
                    {% for u in unregistered_users %}
                        wrapper.append('<div class="unregistered_user" id="{{u.uuid}}"> \n\r' + 
                                '\t<img class="profile_pic" src="{{ u.img }}" /> \n\r' +
                                '\t<p class="profile_name">{{ u.name }}</p>\n\r' + 
                                '</div>');
                        
                        $("#{{u.uuid}}").click( function() { MaitreMobile.registerUser( "{{u.uuid}}" ); });
                   {% endfor %}
                    
                    // Add new user registration div.
                    wrapper.append('<div class="unregistered_user" id="new_user_div">\n\r' + 
                            'Not Here?</div>');

                    $("#new_user_div").click( function() { MaitreMobile.showNewUserView(); } );
                    
                    // Hide all other views.
                    this.newUserView.hide();
                    this.voteView.hide();
                    this.thanksView.hide();
                    
                    // Now, show the view div!
                    this.unregisteredUserView.fadeIn();
                };
                 
                this.showNewUserView = function( ) {
                    /* Show the "New User" View */
                    // Assign the onClick for the submit button
                    $("#newUser_submit").click( function() { MaitreMobile.createUser(); } );
                    
                    // Hide all other views.
                    this.unregisteredUserView.hide();
                    this.voteView.hide();
                    this.thanksView.hide();
                    
                    // Show new user view
                    this.newUserView.fadeIn();
                };

                this.showVoteView = function() {
                    $("#voteView_title").html("Bon Appetit, " + this.user.fname);

                    /* Show the "Vote" View */
                    $( "#voteView_slider" ).slider( { value: 5,
                                                      min: 1,
                                                      max: 10,
                                                      step: 1,
                                                      slide: function( event, ui ) {
                                                            $( "#voteView_amount" ).val( ui.value );
                                                        }
                                                    });

                    $( "#voteView_amount" ).val( $( "#voteView_slider" ).slider( "value" ) );
                    
                    $("#voteView_submit").click( function() { MaitreMobile.vote(); } );

                    // Hide all other views.
                    this.unregisteredUserView.hide();
                    this.newUserView.hide();
                    this.thanksView.hide();
                    
                    // Show vote view
                    this.voteView.fadeIn();

                    // Checkin
                    clik.send( 'checkin', { name  : this.user.name,
                                            fname : this.user.fname,
                                            uuid  : this.user.uuid,
                                            img   : this.user.img } );
                };

                this.showThanksView = function() {
                    // Tell Desktop about the vote
                    var vote_val = $( "#voteView_slider" ).slider( "value" );

                    clik.send( 'vote', { name       : this.user.name,
                                         fname      : this.user.fname,
                                         img        : this.user.img,
                                         vote_value : vote_val } );

                    // Hide all other views.
                    this.unregisteredUserView.hide();
                    this.newUserView.hide();
                    this.voteView.hide();
                    
                    // Show thanks view
                    this.thanksView.fadeIn();
                };

                // Ajax Functions ----------------------------------------------
                this.registerUser = function( user_uuid ) {
                    /* Register an existing user */
                     $.ajax({
                            url: "{% url RegisterUser %}",
                            type: "POST",
                            data: ({ user_uuid : user_uuid } ),
                            success: function(response) {
                                MaitreMobile.user.name  = response.name;
                                MaitreMobile.user.fname = response.first_name;
                                MaitreMobile.user.img   = response.img;
                                MaitreMobile.user.uuid  = response.uuid;
                                
                                MaitreMobile.showVoteView();
                            },
                        });
                };

                this.createUser = function( user_uuid ) {
                    var nameVal = $("#newUser_name").val();

                    if ( !(/\w+ \w+/.test(nameVal)) ) {
                       $("#newUser_wrapper > form > label").css('color', 'red');
                    }
                    else {
                        /* Register an existing user */
                         $.ajax({
                                url: "{% url CreateUser %}",
                                type: "POST",
                                data: ({ name : nameVal } ),
                                success: function(response) {
                                    MaitreMobile.user.name = response.name;
                                    MaitreMobile.user.uuid = response.uuid;
                                    MaitreMobile.user.fname = response.first_name;
                                    MaitreMobile.user.img   = response.img;
                                    
                                    MaitreMobile.showVoteView();
                                },
                            });
                    }
                };

                this.vote = function( vote ) {
                    var value =  $( "#voteView_slider" ).slider( "value" );

                    /* Register an existing user */
                     $.ajax({
                            url: "{% url DoVote %}",
                            type: "POST",
                            data: ({ value : value } ),
                            success: function(response) {
                                MaitreMobile.showThanksView();
                            },
                        });
                };
            };

            MaitreMobile.init();
            MaitreMobile.run();
        </script>
    </body>
</html>
