<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik - Mobile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/jquery-ui-1.8.18.custom.css">
        <link rel="stylesheet" href="/static/css/jquery.mobile-1.1.0.css" />
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/mobile.css">

        <!-- JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.mobile-1.1.0.js"></script>
        <script type="text/javascript" src="http://cdn.clikthis.com/js/latest/clik-mobile.min.js"></script>
        <script type="text/javascript" src="/static/js/mobile.js"></script>

        <script>
            // Initialize the user obj with server values.
            MaitreMobile.user.uuid      = "{{user.uuid}}";       // Unique # to id User on Server
            MaitreMobile.user.lastName  = "{{user.last_name}}";  // Last Name
            MaitreMobile.user.firstName = "{{user.first_name}}"; // First name 
            MaitreMobile.user.email     = "{{user.email}}";      // Email address
            MaitreMobile.user.img       = "{{user.img}}";        // URL to img of User

            // Use server logic to determine which view to display.
            {% if ShowOnboardView %}
                MaitreMobile.showOnboardView();
            {% else %}
                MaitreMobile.showVoteView();
            {% endif %}
        </script>
    </head>

    <body>
        <div id="topPanel" style="display: none;">
            <button class="lightBlueBtn panelBtn" id="voteViewBtn" data-enhance=false> Vote </button>
            <button class="limeBtn panelBtn" id="eatingViewBtn" data-enhance=false>    Who? </button>
            <button class="limeBtn panelBtn" id="profileViewBtn" data-enhance=false><img src="/static/imgs/gear2.png" /></button>
        </div>
        
        <!-- Onboard View -->
        <div id="onboardView" style="display: none">
            <div id="onboardView_first" data-enhance=false>
                <h1 class="title">Whoa!</h1>

                <p>I don't believe we've met before, have we?</p>

                <button class="limeBtn onboardBtn" data-enhance=false>Why no! Hello there!</button>
            </div>
            <div style="display: none;">
                <h1 class="title">Welcome!</h1>

                <p>This is Kik's mealtime app!</p>
                <p>Clik-in at every mealtime to guarantee that you'll continue getting the best meals!</p>

                <button class="limeBtn onboardBtn" data-enhance=false>Sounds Great!</button>
            </div>
            <div style="display: none;">
                <h1 class="title">Now ...</h1>

                <p>Let's get to know each other better.</p>

                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="onboard_firstName">First Name</label><br />
                    <input type="text" id="onboard_firstName" name="onboard_firstName" placeholder="First Name" /><br />
                    
                    <label for="onboard_lastName">Last Name</label><br />
                    <input type="text" id="onboard_lastName" name="onboard_lastName" placeholder="Last Name" /><br />
                </div>

                <button class="limeBtn onboardBtn" data-enhance=false>Next</button>
            </div>
            <div style="display: none;">
                <h1 class="title">Notification</h1>

                <p>As soon as Wildcraft delivers your meal, you'll be notified.</p>
                <p>You'll never get sloppy seconds now ...</p>

                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="onboard_email">Email</label><br />
                    <input type="text" id="onboard_email" name="onboard_email" placeholder="Email" /><br />
                </div>
                <p class="small">You can change this later.</p>
                <button class="limeBtn onboardBtn" data-enhance=false>Great Feature!</button>
            </div>
            <div style="display: none;">
                <h1 class="title">All Done!</h1>

                <p>
                    The analytics bots are working hard to generate reports for 
                    your trusty CEO, Tedward, and Wildcraft.
                </p>
                
                <p class="error">Remember to Clik-In at every meal.</p>
                
                <p>Now you're ready to start eating!</p>

                <button class="limeBtn" id="onboardSubmit" data-enhance=false>To The App!</button>
            </div>
        </div>

        <!-- Vote View -->
        <div id="voteView" style="display: none;">
            <div id="voteView_vote">
                <h1 class="title">How awesome is this meal?</h1>
                
                <p id="voteView_amount">5/10</p>
                
                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="voteView_slider" class="ui-hidden-accessible"></label>
                    <input type="range" name="slider" id="voteView_slider" value="5" min="1" max="10" data-highlight="true" />
                </div>

                <button class="limeBtn" id="voteView_submit" data-enhance=false> Submit </button>
            </div>

            <div id="voteView_thanks" style="display: none;">
                <h1 class="title">Merci!</h1>

                <p>Until your next meal ...</p>
                
                <button class="limeBtn clikOutBtn" data-enhance=false> Clik-Out </button>
            </div>
        </div>

        <!-- Eating View -->
        <div id="eatingView" style="display: none">
            <h1 class="title">Who's Eating?</h1>

            <div id="feedView_feedContainer">
                <ul id="eatingFeed">
                    <li>
                        You!
                    </li>
                </ul>
            </div>

        </div>

        <!-- Profile View -->
        <div id="profileView" style="display: none">
            <h1 class="title">Profile</h1>

            <p id="profileView_name">{{user.first_name}} {{user.last_name}}</p>

            <input type="text" id="profileView_email" value="{{user.email}}" />

            <fieldset style="width: 183px; margin-left: auto; margin-right: auto;" data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
                <legend>Receive notification emails?</legend>

                <input type="radio" name="notification" id="notif_yes" value="Yes" {% if user.notification %}checked="checked"{% endif %}/> 
                <label for="notif_yes">Yes</label>
                
                <input type="radio" name="notification" id="notif_no" value="No" {% if not user.notification %}checked="checked"{% endif %}> 
                <label for="notif_no">No</label>
            </fieldset>

            <p id="profileView_thanks" style="display:none">Updated. Thanks!</p>

            <button class="limeBtn" id="profileView_submit" data-enhance=false>Update</button>

            </div>
        </div>

    </body>
</html>
