<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik - Mobile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/jquery-ui-1.8.18.custom.css">
        <link rel="stylesheet" href="/static/css/jquery.mobile-1.1.0.css" />
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/mobile.css">

        <!-- JS -->
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/static/js/jquery.mobile-1.1.0.js"></script>
        <script src="http://cdn.clikthis.com/js/latest/clik-mobile.min.js"></script>

       <script>
            var MaitreMobile = new function() {
                this.inited    = false; // Stpid hack
                this.checkedin = false; // true iff User has checked in for current meal
                this.voted     = false; // true iff User has voted for the current meal

                // User obj for current user. 
                this.user = new function () {
                    this.uuid      = "{{user.uuid}}";       // Unique # to id User on Server
                    this.lastName  = "{{user.last_name}}";  // Last Name
                    this.firstName = "{{user.first_name}}"; // First name 
                    this.email     = "{{user.email}}";      // Email address
                    this.img       = "{{user.img}}";        // URL to img of User
                };
                
                // Views for the Mobile App
                this.currentView = $("#voteView");

                this.init = function( ) {
                    // Exit early if we've done this already!
                    if( this.inited ) { return; }
                    var g = $("body").width();
                    var h = 82; 
                    var f = (g - h) /2;

                    $("#voteViewBtn").width( (f+6) + "px" ); 
                    $("#eatingViewBtn").width( (g-h-f+6) + "px" ); 

                    $( "#voteView_slider" ).change( function() {
                        $("#voteView_amount").html( $(this).val() + "/10" );
                    });

                    $(".onboardBtn").click( function() { $(this).parent().hide().next().show(); } );
                    $("#onboardSubmit").click( function() { MaitreMobile.createUser(); } );

                    // Attach key up handlers
                    $("#onboard_firstName").keyup( function() { $("#onboard_email").val( $(this).val() + "@kik.com" ) } );

                    // Attach click handlers.
                    $("#voteView_submit").click( function() { MaitreMobile.vote(); } );
                    $("#profileView_submit").click( function() { MaitreMobile.updateUser(); } );

                    $("#voteViewBtn").click(     function() { MaitreMobile.showVoteView(); } );
                    $("#eatingViewBtn").click(   function() { MaitreMobile.showEatingView(); } );
                    $("#profileViewBtn").click(  function() { MaitreMobile.showProfileView(); } );
                    
                    $(".clikOutBtn").click( function() { MaitreMobile.clikOut(); } );
                    
                    // Use server logic to determine which view to display.
                    {% if ShowOnboardView %}
                        this.showOnboardView();
                    {% endif %}
                    {% if ShowVoteView %}
                        this.showVoteView();
                    {% endif %}

                    // Init Clik handlers.
                    clik.on('eaterList', function(data) {
                        // Update the eater list html
                        $("#eatingFeed").html( data.list );
                    });

                    clik.on('leave', function(data) {
                        $("#"+ data).remove();
                    });

                    clik.on('newMeal', function(data) {
                        MaitreMobile.reset();
                        MaitreMobile.showVoteView();

                        alert("A new meal has arrived. Come eat!");
                    });

                    clik.on('clikIn', function(data) {
                        MaitreMobile.checkinUser();

                        // Go to vote screen
                        MaitreMobile.showVoteView();
                    });

                    this.inited = true;
                };
                
                this.run = function( ) {
                    /* Call this fcn to start running the App. */
                    this.init(); // Initialize the app.
                };

                this.clikIn = function() {
                    //clik.clikIn();
                };
                this.clikOut = function() {
                    /* Leave the conference */
                    // clik.clikOut();
                };
                this.checkinUser = function( ) {
                    /* Create a Checkin obj on the server for the given user. */
    
                    if( this.user.firstName == "" ) { return; }
                    if( this.checkedin == true ) { return; } // Only once per meal.
                
                    clik.send( 'checkin', { firstName : this.user.firstName,
                                            uuid      : this.user.uuid,
                                            img       : this.user.img,
                                            clik_id   : clik.client.id } );

                     $.ajax({
                            url: "{% url CreateCheckin %}",
                            type: "POST",
                            data: ( { user_uuid : this.user.uuid } ),
                            success: function(response) {
                            },
                        });

                     this.checkedin = true;
                };
                this.reset = function() {
                    this.voted     = false;
                    this.checkedin = false;

                    // Clean up views
                    $("#voteView_vote").show().next().hide();
                    $(".eatingFeedElem").remove();
                    $( "#voteView_slider" ).val('5');

                    // Now, clik OUT
                    clik.clikOut();
                };

                // View Functions ----------------------------------------------
                this.showOnboardView = function( ) {
                    /* Show the "Onboard" View */

                    $("#topPanel").hide();

                    $("#onboardView").children().hide();
                    $("#onboardView_first").show();
                    
                    this.toggleView( "#onboardView" );  
                };
                this.showVoteView = function() {
                    /* Show the "Vote" View */
                    if ( clik.connected ) {
                        if ( this.user.firstName == "" ) {
                            this.showOnboardView();
                        } else {
                            $("#topPanel").show();

                            $("#voteView_title").html("Bon Appetit, " + this.user.firstName);
                        
                            this.toggleView( "#voteView" );  
                        }
                    } else {
                        this.clikIn();
                    }
                };
                this.showProfileView = function() {
                    this.toggleView( "#profileView" );  
                };
                this.showEatingView = function() {
                    if( clik.connected ) {
                        this.toggleView( "#eatingView" );  
                    } else {
                        this.clikIn();
                    }
                };
                
                this.toggleView = function( selector ) {
                    this.currentView.hide();
                    $("#"+this.currentView.attr('id')+"Btn").attr('class', 'limeBtn panelBtn');

                    this.currentView = $( selector );

                    $("#"+this.currentView.attr('id')+"Btn").attr('class', 'lightBlueBtn panelBtn');
                    this.currentView.show();
                };

                // Ajax Functions ----------------------------------------------
                this.createUser = function( ) {
                    /* Create a new User obj on the Server. */

                    var firstName = $("#onboard_firstName").val();
                    var lastName  = $("#onboard_lastName").val();
                    var email     = $("#onboard_email").val();

                    // Cache this stuff!
                    this.user.firstName = firstName;
                    this.user.lastName  = lastName;
                    this.user.email     = email;

                    // Update the profile page.
                    $("#profileView_name").html( firstName + " " + lastName );
                    $("#profileView_email").val( email );

                     // Tell the Server to make a new User.
                     $.ajax({
                            url: "{% url CreateUser %}",
                            type: "POST",
                            data: ({ firstName : firstName,
                                     lastName  : lastName,
                                     email     : email } ),
                            success: function(response) {
                                // Store User info for future use.
                                MaitreMobile.user.uuid  = response.uuid;
                                MaitreMobile.user.img   = response.img;
                                
                                MaitreMobile.checkinUser();
                                
                                // Go to Vote View.
                                MaitreMobile.showVoteView();
                            },
                        });
                };

                this.vote = function( vote ) {
                    /* Assign a numerical value in range [1, 10] to the
                       current meal. 1 = bad, 10 = best. */

                    if ( this.voted == true ) { return; } // Vote once per meal
                    this.voted = true;

                    var vote_val = $( "#voteView_slider" ).val();

                    // Tell Clik Desktop about the vote
                    clik.send( 'vote', { firstName  : this.user.firstName,
                                         uuid       : this.user.uuid,
                                         img        : this.user.img,
                                         voteValue  : vote_val } );
                    
                    // Go to Thanks View on successful vote.
                    $("#voteView_vote").hide().next().show();
                    
                    // Tell server
                    $.ajax({ url: "{% url DoVote %}",
                             type: "POST",
                             data: ({ value : vote_val } ),
                             success: function(response) {
                             },
                          });
                };

                this.updateUser = function() {
                    var email = $("#profileView_email").val();
                    var yes   = $("#notif_yes").attr('checked') != undefined;

                    // Tell server
                    $.ajax({ url: "{% url UpdateUser %}",
                             type: "POST",
                             data: ({ email            : email,
                                      notification_yes : yes } ),
                             success: function(response) {
                                 $("#profileView_thanks").show();
                                 setTimeout( function(){$("#profileView_thanks").hide();}, 3000 );

                                 // Go to Thanks View on successful vote.
                                 MaitreMobile.showProfileView();
                             },
                          });
                };
            };

            clik.on('ready', function() {
                MaitreMobile.init();
            });
        </script>
    </head>

    <body>
        <div id="topPanel">
            <button class="lightBlueBtn panelBtn" id="voteViewBtn" data-enhance=false> Vote </button>
            <button class="limeBtn panelBtn" id="eatingViewBtn" data-enhance=false>    Who? </button>
            <button class="limeBtn panelBtn" id="profileViewBtn" data-enhance=false><img src="/static/imgs/gear2.png" /></button>
        </div>
        
        <!-- Onboard View -->
        <div id="onboardView" style="display: none">
            <div id="onboardView_first" data-enhance=false>
                <h1 class="title">Whoa!</h1>

                <p>I don't believe we've met before, have we?</p>

                <button class="limeBtn onboardBtn" data-enhance=false>Why no! Hello there!</button>
            </div>
            <div style="display: none;">
                <h1 class="title">Welcome!</h1>

                <p>This is Kik's mealtime app!</p>
                <p>Clik-in at every mealtime to guarantee that you'll continue getting the best meals!</p>

                <button class="limeBtn onboardBtn" data-enhance=false>Sounds Great!</button>
            </div>
            <div style="display: none;">
                <h1 class="title">Now ...</h1>

                <p>Let's get to know each other better.</p>

                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="onboard_firstName">First Name</label><br />
                    <input type="text" id="onboard_firstName" name="onboard_firstName" placeholder="First Name" /><br />
                    
                    <label for="onboard_lastName">Last Name</label><br />
                    <input type="text" id="onboard_lastName" name="onboard_lastName" placeholder="Last Name" /><br />
                </div>

                <button class="limeBtn onboardBtn" data-enhance=false>Next</button>
            </div>
            <div style="display: none;">
                <h1 class="title">Notification</h1>

                <p>As soon as Wildcraft delivers your meal, you'll be notified.</p>
                <p>You'll never get sloppy seconds now ...</p>

                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="onboard_email">Email</label><br />
                    <input type="text" id="onboard_email" name="onboard_email" placeholder="Email" /><br />
                </div>
                <p class="small">You can change this later.</p>
                <button class="limeBtn onboardBtn" data-enhance=false>Great Feature!</button>
            </div>
            <div style="display: none;">
                <h1 class="title">All Done!</h1>

                <p>
                    The analytics bots are working hard to generate reports for 
                    your trusty CEO, Tedward, and Wildcraft.
                </p>
                
                <p class="error">Remember to Clik-In at every meal.</p>
                
                <p>Now you're ready to start eating!</p>

                <button class="limeBtn" id="onboardSubmit" data-enhance=false>To The App!</button>
            </div>
        </div>

        <!-- Vote View -->
        <div id="voteView" style="display: none;">
            <div id="voteView_vote">
                <h1 class="title">How awesome is this meal?</h1>
                
                <p id="voteView_amount">5/10</p>
                
                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="voteView_slider" class="ui-hidden-accessible"></label>
                    <input type="range" name="slider" id="voteView_slider" value="5" min="1" max="10" data-highlight="true" />
                </div>

                <button class="limeBtn" id="voteView_submit" data-enhance=false> Submit </button>
            </div>

            <div id="voteView_thanks" style="display: none;">
                <h1 class="title">Merci!</h1>

                <p>Until your next meal ...</p>
                
                <button class="limeBtn clikOutBtn" data-enhance=false> Clik-Out </button>
            </div>
        </div>

        <!-- Eating View -->
        <div id="eatingView" style="display: none">
            <h1 class="title">Who's Eating?</h1>

            <div id="feedView_feedContainer">
                <ul id="eatingFeed">
                    <li>
                        You!
                    </li>
                </ul>
            </div>

        </div>

        <!-- Profile View -->
        <div id="profileView" style="display: none">
            <h1 class="title">Profile</h1>

            <p id="profileView_name">{{user.first_name}} {{user.last_name}}</p>

            <input type="text" id="profileView_email" value="{{user.email}}" />

            <fieldset style="width: 183px; margin-left: auto; margin-right: auto;" data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
                <legend>Receive notification emails?</legend>

                <input type="radio" name="notification" id="notif_yes" value="Yes" {% if user.notification %}checked="checked"{% endif %}/> 
                <label for="notif_yes">Yes</label>
                
                <input type="radio" name="notification" id="notif_no" value="No" {% if not user.notification %}checked="checked"{% endif %}> 
                <label for="notif_no">No</label>
            </fieldset>

            <p id="profileView_thanks" style="display:none">Updated. Thanks!</p>

            <button class="limeBtn" id="profileView_submit" data-enhance=false>Update</button>

            </div>
        </div>

    </body>
</html>
