<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik - Desktop</title>
        
        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <div id='wrap'>
            <div id='main' class='container'>
                <div class="span-24 append-bottom last">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>

		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://v2.clikthis.com/js/latest/clik-mobile.min.js"></script>

        {% block javascript %} {% endblock javascript %}

    </body>
</html>
