<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik - Desktop</title>
        
        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/desktop.css">

        <!-- JS -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/stroll.js"></script>
		<script type="text/javascript" src="http://cdn.clikthis.com/js/latest/clik-desktop.min.js"></script>
        <script>
            // Common JS fcns.
            Array.prototype.has=function(v){
                for (i=0; i<this.length; i++){
                    if (this[i]==v) return true;
                }
                return false;
            }
        </script>
    </head>

    <body>
        <div id="audio"></div>

        <div id="container">

            <!-- Main View -->
            <div class="leftSide" id="mainView">
                <h1 class="title">Bon Appetit!</h1>

                <h2 id="mainView_subtitle">Menu:</h2>

                <p id="mainView_menu"></p>

                <h2>Deliciousness Rate</h2>

                <div id="mainView_barContainer" style="display: none">
                    <div id="mainView_yes"> 100% </div>
                </div>
                
            </div>
                        
            <!-- Stats View -->
            <div class="leftSide" id="statsView" style="display: none">
                <h1 class="title">Statistics</h1>

                <ul class="list flip" id="statsFeed">
                    <li>
                        <img src="/static/imgs/ChrisBest.jpg" />
                        <p>Most Satisfied: Chris Best</p>
                    </li>

                    <li>
                        <img src="/static/imgs/pizzaTaco.jpg" />
                        <p>Best Meal: Pizza Tacos</p>
                    </li>
                    <li>
                        <img src="/static/imgs/clock.png" />
                        <p>Optimal Lunch Time: 12:26pm</p>
                    </li>
                    <li>
                        <img src="/static/imgs/clock.png" />
                        <p>Optimal Dinner Time: 6:03pm</p>
                    </li>
                    <li>
                        <img src="/static/imgs/number.jpg" />
                        <p>Average Lunches #: 19</p>
                    </li>
                    <li>
                        <img src="/static/imgs/number.jpg" />
                        <p>Average Dinners #: 16</p>
                    </li>
                    <li>
                        <img src="/static/imgs/ballot.jpg" />
                        <p>Average Lunches Rating: 6.11/10</p>
                    </li>
                    <li>
                        <img src="/static/imgs/ballot.jpg" />
                        <p>Average Dinners Rating: 8.34/10</p>
                    </li>
                </ul>
            </div>

            <!-- Feed View -->
            <div class="leftSide" id="feedView" style="display: none">
                <h1 class="title">Feed</h1>

                <div id="feedView_feedContainer">
                    <ul class="list flip" id="mainFeed">
                        <li>
                            <img src="/static/imgs/cliklogo.jpg" />
                            <p>Clik-In before grabbing your food!</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- New Meal View -->
            <div id="newMealView" style="display: none">
                <h1 class="title">New Meal</h1>
                
                <p>Please enter a brief description of the meal here and press 'Submit'. Everyone will be
                emailed to let them know the food has arrived.</p>

                <br />

                <p class="error" id="newMealError" style="display: none;">
                    Please enter today's menu.
                </p>

                <h2 id="newMealThanks" style="display: none">
                    Thanks! Everyone's been notified!
                    <br /><br />
                    Until next meal ...
                </h2>

                <textarea name="newMealText" id="newMealText"></textarea>

                <button class="limeBtn" id="newMealCancel"> Cancel </button>
                <button class="limeBtn" id="newMealSubmit"> Submit Meal </button>
            </div>

            <div id="rightSide" >
                <img id="qrContainer" src="" style="display: inline" />
 
                <div id="navButtons">
                    <button class="lightBlueBtn" id="mainViewBtn">     Home </button>
                    <button class="limeBtn"      id="statsViewBtn">    Statistics </button>
                    <button class="limeBtn"      id="feedViewBtn">     Feed </button>
                    <button class="darkBlueBtn2" id="newMealView_Btn"> New Meal </button>
                </div>
            </div>

        </div>
            
            <script>
                var MaitreDesktop = new function() {
                    /* MaitreDesktop
                       A Clik application to track people while they eat
                       their meals at Kik.
                    */

                    // The view that is curently being displayed
                    this.currentView = $("#mainView");
                    
                    // A 'vote' struct to keep track of the votes for current meal
                    this.votes     = new function() 
                        {
                            this.voters   = []; // List of uuids for people who have already voted.
                            this.sum      = 0;  // Sum total of the votes
                            this.numVotes = 0;  // Number of votes cast

                            this.percent = function() {
                                // Returns an Int of the percentage of votes for current meal
                                return Math.round( 10 * (this.sum / this.numVotes) );
                            };
                        };

                    this.init = function( ) {
                        /* Initialize the App. */

                        // Init Views -------------------------
                        $("#statsViewBtn").click( function() { MaitreDesktop.showStatsView(); } );
                        $("#mainViewBtn").click( function() { MaitreDesktop.showMainView(); } );
                        $("#feedViewBtn").click( function() { MaitreDesktop.showEatingView(); } );
                        $("#newMealView_Btn").click( function() { MaitreDesktop.showNewMealView(); } );
                        $("#newMealSubmit").click( function() { MaitreDesktop.submitMeal(); } );
                        $("#newMealCancel").click( function() { MaitreDesktop.showMainView(); } );

                        // Setup timed resets to match cron update on server.
                        this.reset();

                        // Remove that pesky Clik overlay ...
                        // TODO: Stop pesky overlay from running in the first place ..
                        setTimeout( function() { MaitreDesktop.removeClikOverlay(); }, 300 );
                        setTimeout( function() { MaitreDesktop.waitForURL(); }, 300 );

                        // Init clik event handlers ------------
                        clik.on('connect', function () {
                            return;
                        });

                        clik.on('checkin', function ( user ) {
                            MaitreDesktop.welcome( user.name );
                            MaitreDesktop.checkinUser( user.uuid );
                            
                            var msg = "" + user.fname + " is feed.";
                            MaitreDesktop.updateStatusMsg( msg, user.img );
                        });

                        clik.on('vote', function ( msg ) {
                            // Only let eaters vote ONCE per meal.
                            if ( MaitreDesktop.votes.voters.has( msg.uuid ) ) {
                                return;
                            }

                            var text = "" + msg.fname + " voted! " + msg.vote_value + "/10!!";
                            MaitreDesktop.updateStatusMsg( text, msg.img );

                            // Increment votes
                            MaitreDesktop.votes.voters.push( msg.uuid );
                            MaitreDesktop.votes.sum      += parseInt( msg.vote_value );
                            MaitreDesktop.votes.numVotes += 1;

                            var per = MaitreDesktop.votes.percent();
                            $("#mainView_barContainer").show();
                            $("#mainView_yes").width("" + per + "%" );
                            $("#mainView_yes").html("" + per + "%" );
                        });
                        
                        clik.on('join', function() {
                            return; // 'checkin' will be triggered instead
                        });

                        // A user has left the conference
                        clik.on('leave', function () {
                            var msg = "Someone has left the building.";
                            MaitreDesktop.updateStatusMsg( msg, '/static/imgs/cliklogo.jpg' );
                        });
                    };

                    this.run = function( ) {
                        /* The main fcn to run the application. 
                           Call this when you're ready to start! */

                        // Initialize the app.
                        this.init();
                    };

                    this.removeClikOverlay = function() {
                        /* When Clik loads, it triggers an overlay to display by default.
                           I don't want this to show, so let's remove it when it's in the 
                           DOM. */

                        var el = $("#clik-paper"); 
                        
                        if( el != undefined ) {
                            el.remove();
                        } else {
                            setTimeout( function() { MaitreDesktop.removeClikOverlay(); }, 300 );
                        }
                    };

                    this.reset = function() {
                        /* Reset the votes for the next meal. */
                        this.votes.voters   = [];
                        this.votes.sum      = 0;
                        this.votes.numVotes = 0;

                        $("#mainView_barContainer").hide();
        
                        this.showMainView();
                    };

                    this.updateStatusMsg = function( msg, img ) {
                        /* Given an input string representing a new status,
                           update the status msg divs contents. */
                        var foo = $( document.createElement( 'li' ) );

                        var img = "<img src='" + img + "' />";
                        var p   = "<p>" + msg + "</p>";
                        var li = img + p;
                        foo.html( li );
                        
                        foo.insertBefore( "#list :first" );

                        // Now, update the CSS animation for each li.
                        Stroll.bind( document.getElementById( 'mainFeed' ) );
                    };

                this.waitForURL = function() {
                    var url = clik.clikCodeURL();

                    if ( url == undefined ) {
                        setTimeout( function(){ MaitreDesktop.waitForURL(); }, 300 );
                    } else {
                        $("#qrContainer").attr( 'src', clik.clikCodeURL() );
                    }
                };

                this.welcome = function( name ) {
                    /* Welcome a new User to the app. */
                    var date = new Date();

                    // If dinner time,
                    if( date.getHours() >= 16 ) { 
                        return;
                    } else { // If lunch time
                        return;
                    }
                };

                // View Toggles ------------------------------------------------
                this.toggleView = function( selector ) {
                    this.currentView.hide();
                    $("#"+this.currentView.attr('id')+"Btn").attr('class', 'limeBtn');

                    this.currentView = $( selector );

                    $("#"+this.currentView.attr('id')+"Btn").attr('class', 'lightBlueBtn');
                    this.currentView.fadeIn();
                };
                this.showStatsView = function() {
                    this.fetchStats();

                    this.toggleView( "#statsView" );                  
                };
                this.showMainView = function() {
                    this.toggleView("#mainView");
                    
                    $("#rightSide").show();
                };
                this.showEatingView = function() {
                    this.toggleView("#feedView");
                };
                this.showNewMealView = function() {
                    $("#newMealText").val("");
                    $("#newMealText").show("");
                    $("#newMealThanks").hide("");
                    $("#newMealError").hide("");
                    $("#newMealCancel").show();
                    $("#newMealSubmit").show();
                    
                    $("#rightSide").hide();
                    
                    this.toggleView("#newMealView");
                };

                
                // Ajax Functions ----------------------------------------------
                this.fetchStats = function( ) {
                    /* Grab the most recent stats obj from the server. */
                     $.ajax({
                            url: "{% url FetchStats %}",
                            type: "GET",
                            data: ( { } ),
                            success: function(response) {
                            },
                        });
                };
                this.checkinUser = function( user_uuid ) {
                    /* Create a Checkin obj on the server for the given user. */
                     $.ajax({
                            url: "{% url CreateCheckin %}",
                            type: "POST",
                            data: ( { user_uuid : user_uuid } ),
                            success: function(response) {
                            },
                        });
                };
                this.submitMeal = function( ) {
                    /* Give the server details about this meal & 
                       fire off emails to eaters! */
                    
                    var textElem = $("#newMealText");
                    var menu     = textElem.val().trim();

                    if ( menu.length == 0 ) {
                        $("#newMealError").fadeIn();
                    } else {
                        $("#newMealError").hide();
                        $("#newMealThanks").fadeIn();

                        textElem.hide();
                        $("#newMealCancel").hide();
                        $("#newMealSubmit").hide();

                        $("#mainView_menu").html( menu );

                        var date = new Date();
                        if( date.getHours() >= 16 ) {   // If dinner time,
                            $("#mainView_subtitle").html( "Dinner Menu" );
                        } else {                        // If lunch time,
                            $("#mainView_subtitle").html( "Lunch Menu" );
                        }

                        $.ajax({
                                url: "{% url CreateMeal %}",
                                type: "POST",
                                data: ( { meal_items : menu } ),
                                success: function(response) {
                                    setTimeout( function() {
                                        MaitreDesktop.reset();
                                      
                                    }, 3500 );
                                },
                            });
                    }
                };
            };

            MaitreDesktop.run();
            
        </script>
    </body>
</html>
