<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Maitre 'Clik - Desktop</title>
        
        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <div id='wrap'>
            <div id='main' class='container'>
                <div class="span-24 append-bottom last">
                    <div id="audio"></div>

                    <!-- Main View -->
                    <div class="span-24 last" id="mainView">
                        <div class="span-12">
                            <img id="qrContainer" src="" style="display: none" />
                            <img id="waiter" src="/static/imgs/waiter3.png" />

                            <br />
                            <a href="#" id="mainView_showStatsView">Stats</a>
                        </div>

                        <div class="span-12 last">
                            <h1 class="span-12 last title">Bonjour</h1>
                            
                            <div class="span-12 last" id="mainView_barContainer" style="display: none">
                                <div id="mainView_yes"> 100% </div>
                            </div>
                            
                            <div class="prepend-top span-12 last" id="mainView_msg">
                                Loading ....
                            </div>
                        </div>
                            
                    </div>

                    <!-- Stats View -->
                    <div class="span-24 last" id="statsView" style="display: none">
                        <h1 class="title">Stats</h1>

                        <div class="statsView_wrapper span-10">
                            <img src="/static/imgs/ChrisBest.jpg" />
                            <p>Most Satisfied: Chris Best</p>

                            <hr />
                            
                            <img src="/static/imgs/pizzaTaco.jpg" />
                            <p>Best Meal: Pizza Tacos</p>
                        </div>

                        <div class="statsView_wrapper span-14 last">
                            <p>Optimal Lunch Time: 12:26pm</p>
                            <p>Optimal Dinner Time: 6:03pm</p>
                            <hr />

                            <p>Average Lunches #: 19</p>
                            <p>Average Dinners #: 16</p>
                            <hr />
                            
                            <p>Average Lunches Rating: 6.11/10</p>
                            <p>Average Dinners Rating: 8.34/10</p>
                            <hr />
                        </div>
                        
                        <a href="#" id="statsView_showMainView">Back</a>
                    </div>


                </div>
            </div>
        </div>
        
        <!-- JS -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="http://v2.clikthis.com/js/latest/clik-mobile.min.js"></script>
		<script type="text/javascript" src="/static/js/speakClient.js"></script>


        <script>
            var MaitreDesktop = new function() {

                this.mainView  = $("#mainView");
                this.statsView = $("#statsView");
                this.msg       = $("#mainView_msg");
                this.votes     = new function() 
                    {
                        this.sum      = 0;
                        this.numVotes = 0;

                        this.percent = function() {
                            return Math.round( 10 * (this.sum / this.numVotes) );
                        };
                    };

                this.init = function( ) {

                    // Init Views -------------------------
                    $("#mainView_showStatsView").click( function() { MaitreDesktop.showStatsView(); } );
                    $("#statsView_showMainView").click( function() { MaitreDesktop.showMainView(); } );

                    $("#mainView_yes").width( "100%" );

                    // Setup timed resets to match cron update on server.
                    this.initReset();
                    
                    setTimeout( function() { MaitreDesktop.removeClikOverlay(); }, 300 );

                    // Init clik event handlers ------------
                    clik.on('connect', function () {
                        var msg = "Hello World!";
                        MaitreDesktop.updateMsg( msg );

                        $("#qrContainer").attr( 'src', clik.clikCodeURL() );
                        $("#qrContainer").fadeIn();
                    });

                    clik.on('checkin', function ( user ) {
                        MaitreDesktop.welcome( user.name );
                        MaitreDesktop.checkinUser( user.uuid );
                        
                        var msg = "" + user.fname + " is eating.";
                        MaitreDesktop.updateMsg( msg );
                    });

                    clik.on('vote', function ( msg ) {
                        speak("Mair see" + msg.name,  {wordgap: 3});

                        var text = "" + msg.fname + " voted! " + msg.vote_value + "/10!!";
                        MaitreDesktop.updateMsg( text );

                        // Increment votes
                        MaitreDesktop.votes.sum      += parseInt( msg.vote_value );
                        MaitreDesktop.votes.numVotes += 1;

                        var per = MaitreDesktop.votes.percent();
                        $("#mainView_barContainer").show();
                        $("#mainView_yes").width("" + per + "%" );
                        $("#mainView_yes").html("" + per + "%" );
                    });
                    
                    clik.on('join', function() {
                        return;
                    });

                    // A user has left the conference
                    clik.on('leave', function () {
                        var msg = "Someone has left the building.";
                        MaitreDesktop.updateMsg( msg );
                    });
                };

                this.removeClikOverlay = function() {
                    var el = $("#clik-paper"); 
                    
                    if( el != undefined ) {
                        el.remove();
                    } else {
                        setTimeout( function() { MaitreDesktop.removeClikOverlay(); }, 300 );
                    }
                };

                this.initReset = function() {
                    // Setup timed resets to match cron update on server.
                    var now = new Date();
                    var millisTill10 = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 10, 0, 0, 0) - now;
                    if (millisTill10 < 0) {
                         millisTill10 += 86400000; // it's after 10am, try 10am tomorrow.
                    }
                    var millisTill16 = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 16, 0, 0, 0) - now;
                    if (millisTill16 < 0) {
                         millisTill16 += 86400000; // it's after 4pm, try 4pm tomorrow.
                    }
                    setTimeout( function(){ MaitreDesktop.reset(); }, Math.min(millisTill10, millisTill16) );
                };

                this.reset = function() {
                    // Reset the votes for the next meal.
                    this.votes.sum      = 0;
                    this.votes.numVotes = 0;

                    $("#mainView_barContainer").hide();
    
                    this.initReset();
                };

                this.updateMsg = function( msg ) {
                    this.msg.html( "" + msg );
                };

                this.run = function( ) {
                    speak("Bonne Joooure. Juh map elle Fran swa", {wordgap:3} );
                    
                    // When Cmsgk is ready to serve events..
                    clik.ready(function () {
                        $("#qrContainer").attr( 'src', clik.clikCodeURL() );
                    });
                };
                this.welcome = function( name ) {
                    var date = new Date();

                    // If dinner time,
                    if( date.getHours() >= 16 ) { 
                        speak( "Bonne Swar" + name, {wordgap:3} );

                    } else { // If lunch time
                        speak( "Bonne Jooooure" + name, {wordgap:3} );
                    }
                };

                // View Toggles ------------------------------------------------
                this.showStatsView = function() {
                    this.fetchStats();

                    this.mainView.hide();
                    this.statsView.fadeIn();
                };
                this.showMainView = function() {
                    this.statsView.hide();
                    this.mainView.fadeIn();
                };
                
                // Ajax Functions ----------------------------------------------
                this.fetchStats = function( ) {
                     $.ajax({
                            url: "{% url FetchStats %}",
                            type: "GET",
                            data: ({ } ),
                            success: function(response) {
                            },
                        });
                };
                this.checkinUser = function( user_uuid ) {
                     $.ajax({
                            url: "{% url CreateCheckin %}",
                            type: "POST",
                            data: ({ user_uuid : user_uuid } ),
                            success: function(response) {
                            },
                        });
                };

            };

            MaitreDesktop.init();
            MaitreDesktop.run();

            
        </script>
    </body>
</html>
