<html lang='en'>
	<head>
		<title>Maitre 'Clik - Desktop</title>
        
        <!-- Blueprint CSS -->
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

        <!-- CSS -->
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/desktop.css">

        <!-- JS -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="http://cdn.clikthis.com/js/latest/clik-desktop.min.js"></script>
		<script type="text/javascript" src="/static/js/desktop.js"></script>
    </head>

    <body>
        <div id="container">
            
            <div id="navButtons">
                <button class="lightBlueBtn" id="mainViewBtn">  Home </button>
                <button class="limeBtn"      id="statsViewBtn"> Statistics </button>
                <button class="limeBtn"      id="feedViewBtn">  Feed </button>
            </div>

            <!-- Main View -->
            <div class="leftSide" id="mainView">
                <h1 class="title">Bon Appetit!</h1>

                <h2 id="mainView_subtitle">{{meal.type|title}} Menu</h2>

                <p id="mainView_menu">{{meal.menu}}</p>

                <h2>Deliciousness Rate</h2>

                <div id="mainView_barContainer" style="display: none">
                    <div id="mainView_yes"> 100% </div>
                </div>
                
            </div>
                        
            <!-- Stats View -->
            <div class="leftSide" id="statsView" style="display: none">
                <h1 class="title">Statistics</h1>

                <ul class="list" id="statsFeed">
                    <li>
                        <img src="/static/imgs/ChrisBest.jpg" />
                        <p>Most Satisfied: Chris Best</p>
                    </li>

                    <li>
                        <img src="/static/imgs/pizzaTaco.jpg" />
                        <p>Best Meal: Pizza Tacos</p>
                    </li>
                    <li>
                        <img src="/static/imgs/clock.png" />
                        <p>Optimal Lunch Time: 12:26pm</p>
                    </li>
                    <li>
                        <img src="/static/imgs/clock.png" />
                        <p>Optimal Dinner Time: 6:03pm</p>
                    </li>
                    <li>
                        <img src="/static/imgs/number.jpg" />
                        <p>Average Lunches #: 19</p>
                    </li>
                    <li>
                        <img src="/static/imgs/number.jpg" />
                        <p>Average Dinners #: 16</p>
                    </li>
                    <li>
                        <img src="/static/imgs/ballot.jpg" />
                        <p>Average Lunches Rating: 6.11/10</p>
                    </li>
                    <li>
                        <img src="/static/imgs/ballot.jpg" />
                        <p>Average Dinners Rating: 8.34/10</p>
                    </li>
                </ul>
            </div>

            <!-- Feed View -->
            <div class="leftSide" id="feedView" style="display: none">
                <h1 class="title">Feed</h1>

                <div id="feedView_feedContainer">
                    <ul class="list" id="mainFeed">
                        <li>
                            <img src="/static/imgs/cliklogo.jpg" />
                            <p>Clik-In before grabbing your food!</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- New Meal View -->
            <div id="newMealView" style="display: none">
                <h1 class="title">New Meal</h1>
                
                <p>
                    Please enter a brief description of the meal here and press 'Submit'. Everyone will be
                    emailed to let them know the food has arrived.
                </p>
                <br />
                <p>
                    ex. Braised chicken in a mushroom and bacon sauce with a mixed green salad.
                </p>

                <br />

                <p class="error" id="newMealError" style="display: none;">
                    Please enter today's menu.
                </p>

                <h2 id="newMealThanks" style="display: none">
                    Thanks! Everyone's been notified!
                    <br /><br />
                    Until next meal ...
                </h2>

                <textarea name="newMealText" id="newMealText"></textarea>

                <button class="limeBtn" id="newMealCancel"> Cancel </button>
                <button class="limeBtn" id="newMealSubmit"> Submit Meal </button>
            </div>

            <!-- QR Code container -->
            <div id="rightSide" >
                <img id="qrContainer" src="" style="display: inline" />
                
                <p id="instructions">Welcome Kik! Please Clik-In before grabbing your food!</p>
                
                <button class="darkBlueBtn2" id="newMealView_Btn"> New Meal </button>
            </div>

            <!-- Hidden div to store list of eaters. -->
            <div id="eatingList" style="display: none;">
                <li></li>
            </div>
        </div>
    </body>
</html>
